# Xcode
#
build/
DerivedData/

# User settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other Xcode files
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
/.build
/Packages
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm

# CocoaPods
/Pods
*.xcworkspace

# Carthage
/Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
._.DS_Store

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Others
*.swp
*.lock
*.tmp
*.orig

